.git
.github
.cowork-temp
.vs
.idea

**/bin
**/obj

publish
publish.staging
data
logs

scripts/windows/ProxySQL-Admin-UI.xml
scripts/windows/ProxySQL-Admin-UI.exe

*.user
*.suo
*.userosscache
*.csproj.user
