<service>
  <id>ProxySQL-Admin-UI</id>
  <name>ProxySQL Admin UI</name>
  <description>ProxySQL Admin UI - ProxySQL web management service</description>

  <executable>%BASE%\..\..\publish\ProxysqlAdminUi.Web.exe</executable>
  <workingdirectory>%BASE%\..\..\publish</workingdirectory>

  <env name="ASPNETCORE_ENVIRONMENT" value="Production"/>
  <env name="ASPNETCORE_URLS" value="http://0.0.0.0:8001"/>
  <env name="APP_DB_PATH" value="%BASE%\..\..\data"/>
  <env name="PAI_PROXYSQL" value="$(PROXYSQL_CONNECTION_STRING)"/>
  <env name="PAI_GALERA_USERNAME" value="$(GALERA_USERNAME)"/>
  <env name="PAI_GALERA_PASSWORD" value="$(GALERA_PASSWORD)"/>

  <onfailure action="restart" delay="5 sec"/>
  <onfailure action="restart" delay="15 sec"/>
  <onfailure action="restart" delay="60 sec"/>
  <resetfailure>1 hour</resetfailure>

  <log mode="roll-by-size">
    <sizeThreshold>10240</sizeThreshold>
    <keepFiles>8</keepFiles>
  </log>
  <logpath>%BASE%\..\..\logs</logpath>

  <stopparentprocessfirst>true</stopparentprocessfirst>
  <stoptimeout>30 sec</stoptimeout>
  <priority>Normal</priority>
  <startmode>Automatic</startmode>
  <delayedAutoStart>true</delayedAutoStart>
</service>
